
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -10px; /* lord forgive me */
  padding: 10px;
  margin-bottom: 20px;
  margin-right: -8px;
  background-color: #333;
  color: white;
}

.user-icon {
  display: flex;
  align-items: center;
}

.user-initial {
  font-size: 20px;
  margin-right: 5px;
}

.default-icon {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}
.user-icon {
  position: relative;
}

.user-circle,
.default-circle {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;

}

.user-initial {
  font-size: 18px;
  margin-right: 2px;
  font-weight: bold;
  font-family: 'Arial, sans-serif';

}
.card-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.card-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  height: 132px;
  width: 236px;
}

.box .rectangle {
  background-color: #f7f7f7;
  border-radius: 6px;
  box-shadow: 1px 1px 4px #000000a6;
  height: 132px;
  left: 0;
  top: 0;
  width: 236px;
}

.label {
  height: 15px;
  width: 50px;
}

.label .text-wrapper {
  color: #000000;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 12px;
  font-weight: 70;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  /* position: fixed; */
  background-color: red;
}
